@import '@/assets/scss/_main';

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;

    .content-login {
        width: 400px;
        height: 450px;
        border-radius: 10px;
        background-color: $purple;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;

        header {
            width: 100%;
            display: flex;
            justify-content: center;

            h1 {
                color: $white;
                font-size: 28px;
            }
        }

        .form {
            width: 70%;
            margin-top: 40px;

            label {
                color: $white;
            }
        }
    }
}